[submodule "src/lib/libsodium"]
	path = src/lib/libsodium
	url = https://github.com/payshares/libsodium.git
[submodule "src/lib/xdrpp"]
	path = src/lib/xdrpp
	url = https://github.com/xdrpp/xdrpp.git
[submodule "src/lib/libmedida"]
	path = src/lib/libmedida
	url = https://github.com/payshares/medida.git
